
/*- Base color -*/

$background-color: #fff;

// $text-color: #CBA6C3; // point color
$text-color: #001F3F; // point color
$text-light-color: #E0E3DA;
$text-dark-color: #7C7877;


// 'Apple SD Gothic Neo','Malgun Gothic','맑은 고딕',sans-serif